
html { margin:0px; padding:0px; height: 101%; }
body { margin:0px; padding:0px; height: 101%; position: relative; background: #fff;}

@font-face { font-family: "Poppins-Regular"; src: url("Fonts/Poppins-Regular.ttf");}
@font-face { font-family: "Poppins-Medium"; src: url("Fonts/Poppins-Medium.ttf");}
@font-face { font-family: "Poppins-Bold"; src: url("Fonts/Poppins-bold.ttf");}

h1, h2, h3, h4 {margin: 0; padding: 0 0 10px 0; font-family: "Poppins-Medium"; color: white; }
input, textarea { font-family: "Poppins-Regular"; }
img { width: 100%; }
p {margin: 0; padding: 0 0 10px 0; font-family: "Poppins-Regular";}
a {text-decoration: none; color: #000;} 
.clear {clear: both;}
p.smalltext { font-size: 80%; }


.side { float: left; display: block; width: 25%; background: #333333; z-index: 20; height: 100%; box-sizing: border-box; padding: 20px 40px; position: fixed;}
.side .me { text-align: center; width: 70%; margin: 0 auto 20px auto; }
.side .me img { border-radius: 50%; width: 100%; margin: 0 auto; max-width: 300px; }
.side p { color: #fff; padding: 0; }
.side p.name { position: relative; padding: 0 0 0 20px; }
.side p.name i { position: absolute; top: 50%; left: 0; transform: translateY(-50%); font-size: 90%; }
.side p.email { position: relative; padding: 0 0 10px 20px; }
.side p.email img { top: 8px; position: absolute; width: 10px; height: 10px; left: 0; }

.side .links { width: 102%; margin-left: -2%; }
.side p.link { float: left; font-size: 150%; width: 23%; margin: 0 0 1% 2%;}
.side p.link a { color: #fff; }
.side p.link a:hover { opacity: 0.5; }
.side p.quote { padding: 10px 0; font-size: 85%; }
.side p.fact {padding: 0 0 10px 0; font-size: 85%; }
.side p.blockbutton { padding: 0; text-align: center; text-decoration: none;}
.side p.blockbutton a { padding: 8px 12px; display: block; color: #333333; background: #ffffff; font-size: 85%; text-transform: uppercase; font-weight: 700; cursor: pointer; text-decoration: none; }
.side .logo { position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%);  width: 30%;}
.side .logo:hover{ opacity: 0.5; }

.main { padding-left: 25%; display: block; width: 100%; height: 100%; box-sizing: border-box; } 
.main .header { width: 100%; height: 190px; background: url(Images/6.jpg) no-repeat center center; background-size: cover; display: block; position: relative;}
.main .header .overlay {width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,0.5); position: absolute;}
.main .header .overlay .datetime { position: absolute; top: 50%; transform: translateY(-50%); left: 40px;}
.main .header .overlay .datetime p {color: #fff; font-size: 150%;}
.main .header .overlay .weather { position: absolute; right: 40px; top: 50%; transform: translateY(-50%); }
.main .header .overlay .weather p { color: #fff; font-size: 150%;}
.main .header .overlay .weather p span#temp { text-transform: capitalize; }

.main .inner { box-sizing: border-box; padding: 40px; }

.main .inner .search { width: 100%; margin: 0 0 20px 0; position: relative; }
.main .inner .search input[type=text] { box-sizing: border-box; padding: 12px; border: none; width: 100%; background: #ccc; border: none; outline:none;}
.main .inner .search button { padding: 15px; background: #333; border: none; cursor: pointer; color: #fff; position: absolute; top: 0; right: 0; height: 100%; }
.main .inner .search input:focus {border: none; outline: none;}

.main .inner .filter {width: 101%; margin-left: -1%;}
.main .inner .filter p { width: 24%; float: left; margin: 0 0 2% 1%; padding: 0; text-align: center; background: #333333; }
.main .inner .filter p a { display: block; padding: 10px 0px; color: #ffffff; cursor: pointer; }
.main .inner .filter p.active, .main .inner .filter p:hover  { opacity: 0.7; }

.main .inner .boxes { width: 101%; margin-left: -1%; margin-bottom: 80px; }
.main .inner .boxes .box { width: 24%; height: 150px; margin: 0 0 10px 1%; float: left; position: relative; padding: 20px; box-sizing: border-box; background: #f2f2f2;}
.main .inner .boxes .box:hover {opacity: 0.7;}

.main .inner .boxes .gallery,  .main .inner .boxes .galleryone { padding: 0; }
.main .inner .boxes .gallery .image, .main .inner .boxes .galleryone .image { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.main .inner .boxes .gallery .image:focus, .main .inner .boxes .galleryone .image:focus {border: none; outline: none;}
.gallery .slick-list, .slick-track {height: 100%;}
.gallery .slick-dots {position: absolute; left: 20px; bottom: 10px; z-index: 9999; padding: 0; margin: 0 auto; text-align: center; }
.gallery .slick-dots li {float: left; width: 12px; height: 12px; line-height: 12px; margin: 0 5px 0 0; padding: 0; list-style: none;}
.gallery .slick-dots li button {width: 12px; height: 12px; border: none; border-radius: 50%; background: rgba(1,1,1,0.7); margin: 0; padding: 0; cursor: pointer; text-indent: -9999px;}
.gallery .slick-dots li.slick-active button {background: rgba(255,255,255,0.6);}
.gallery .slick-dots li button:focus { outline: none; border: none;}

.main .inner .boxes .news { padding: 0; overflow-y: scroll; position: relative;}
.main .inner .boxes .news:hover { opacity: 1; }
.main .inner .boxes .news .heading { padding: 10px 20px; box-sizing: border-box; z-index: 10; text-align: center; width: 100%; background: #333333; position: absolute; top: 0; left: 0; }
.main .inner .boxes .news .title {font-size: 100%; padding: 0; color: #ffffff;}
.main .inner .boxes .news .inner { padding: 60px 20px 10px 20px; }
.main .inner .boxes .news p span {font-size: 80%;}
.main .inner .boxes .newspost {border-bottom: 1px solid #000; margin-bottom: 10px;}
.main .inner .boxes .newspost p {padding:0 0 10px 0; font-size: 90%;}

.main .inner .boxes .twitter { padding: 0; overflow-y: scroll; }
.main .inner .boxes .twitter:hover { opacity: 1; }
.main .inner .boxes .twitter .heading { padding: 10px 20px; text-align: center; background: #1DA1F2; }
.main .inner .boxes .twitter .heading p.title { padding: 0; color: #ffffff; }
.main .inner .boxes .twitter .inner {padding: 10px 20px; }

.main .inner .boxes .news::-webkit-scrollbar-track, .main .inner .boxes .twitter::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #F5F5F5; }
.main .inner .boxes .news::-webkit-scrollbar, .main .inner .boxes .twitter::-webkit-scrollbar{ width: 10px;background-color: #F5F5F5; }
.main .inner .boxes .news::-webkit-scrollbar-thumb, .main .inner .boxes .twitter::-webkit-scrollbar-thumb{ background: -moz-linear-gradient(184deg, rgba(51,51,51,1) 0%, rgba(82,82,82,1) 100%);
background: -webkit-linear-gradient(184deg, rgba(51,51,51,1) 0%, rgba(82,82,82,1) 100%);
background: linear-gradient(184deg, rgba(51,51,51,1) 0%, rgba(82,82,82,1) 100%); }

.loader, .loader:before, .loader:after { border-radius: 50%; width: 2.5em; height: 2.5em; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation: load7 1.8s infinite ease-in-out; animation: load7 1.8s infinite ease-in-out;}
.loader { color: #333333; font-size: 10px; margin: 80px auto; position: relative; text-indent: -9999em; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); -webkit-animation-delay: -0.16s; animation-delay: -0.16s;}
.loader:before, .loader:after { content: ''; position: absolute; top: 0;}
.loader:before { left: -3.5em; -webkit-animation-delay: -0.32s; animation-delay: -0.32s;}
.loader:after { left: 3.5em;}
.loader.hide { display: none; }
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.main .inner .boxes .box.short {height: 150px;}
.main .inner .boxes .box.medium {height: 300px;}
.main .inner .boxes .box.long {height: 450px;}

.boxes .background { cursor: pointer; }


@media only screen and (max-width: 1400px) {
	.main .inner .boxes .box {width: 32.33333%;}
  .side { padding: 20px; }
  .side .me { width: 40%; }
  .side p.link { font-size: 110%; }

}
@media only screen and (max-width: 1180px) {
	.side p.email { word-break: break-word; }
}
@media only screen and (max-width: 850px) {
	.side { width: 33.3333%; }
	.main { padding-left: 33.3333%; }
	.main .inner .boxes .box {width: 49%;}
}
@media only screen and (max-width: 667px) {
	.side { float: none; width: 100%; position: relative; height: auto;}
  .side .logo { position: relative; top: auto; left: auto; transform: none; bottom: auto; margin: 0 auto; }
	.main { float: none; width: 100%; padding: 0; }

  .main .inner .filter {  }
  .main .inner .filter p {width: 48%;}
}
@media only screen and (max-width: 425px) {
	.main .inner .boxes .box { width: 100%; margin-left: 0; }
	.main .inner .boxes .box {width: 100%; margin: 0 0 10px 0;}

}

